.carousel-container {
     text-align: center;
     padding: 5% 0 0 0;
     margin-bottom: 30px;
}

.carousel-container h2 {
    width: 70%;
    margin: 0 auto; 
    
}

.carousel-container h5 {
    font-size: 17px;
    color: #555;
    line-height: 28px;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.5px; 
}

.carousel-container .icon-bubble:before{
    content: "\e90f";
}

.carousel-container .item {
    padding: 5% 0; 
}

.carousel-container .item .box {
    width: 40%;
    padding: 20px;
    margin: 0 auto;
    box-shadow: 0.05rem 0.1rem 0.3rem -0.03rem rgba(0, 0, 0, 0.45); 
}

.carousel-container .item img {
  margin-bottom: 30px;
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 100px;
}

.carousel-container .item p {
    width: 100%;
    margin: 0 auto;
    font-style: italic;
    font-weight: 400;
    color: #111;
    font-size: 21px;
    font-family: 'Roboto', sans-serif;
}

.carousel-container .item p:last-child {
    font-weight: bold;
    font-size: 16px;
    text-transform: capitalize;
    letter-spacing: 0.2px;
    color: #4d9ef2;
    font-family: 'Roboto', sans-serif; 
}
 
.carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */ {
    filter: invert(100%);
}

@media only screen and (max-width: 1200px) {
    .carousel-container .item .box {
        width: 75%;
    }
    .carousel-container .item p {
        font-size: 17px; 
    }
    .carousel-container .item p:last-child { 
        font-size: 14px; 
    }
}

@media only screen and (min-width: 768px) {
    .carousel-container {
        margin-bottom: 0;
    }
    .carousel-container .item { 
       padding: 7% 0;
    }
}