.features-card {
  cursor: pointer;
  box-shadow: 6px 6px 12px #b8b9be, -6px -6px 12px #fff;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 10px;
  height: 100%;
  border-color: #d1d9e6;
  text-align: center;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: relative;
}

.features-card:hover {
  color: #31344b;
  border-color: #e6e7ee;
  box-shadow: inset 4px 4px 10px #b8b9be, inset -3px -3px 7px #fff;
}

.feature-icon {
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 90px;
  height: 90px;
  margin: auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #4d9ef2;
  color: black;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.feature-icon i {
  font-size: 60px;
}
.feature-icon:hover {
  background: rgb(18, 64, 112);
  color: white;
}
